.main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    margin: 0 auto 100px auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background: #e8c08b;
    color: #000;
    text-align: center;
    padding: 15px;
    width: 100%;
}